---
import '../styles/global.css'
import Navbar from './Navbar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Daniel Poot</title>
	</head>
	<body class="bg-[#181D27] w-full h-screen py-[50px] px-[15px] sm:px-[50px] flex flex-col">
      <Navbar />
      <slot />
	</body>
</html>
