<div class="flex justify-end items-center gap-[40px] text-[#CFBFF7]">
  <a
    class="group"
    href='https://www.linkedin.com/in/danielpootuc/'
    rel='noreferrer'
    target='_blank'
  >
    <span class='group-hover:border-b-2 group-hover:border-[#CFBFF7] duration-100'>
      Github
    </span>
  </a>
  <a
    class="group"
    href='https://github.com/DaniPoot'
    rel='noreferrer'
    target='_blank'
  >
    <span class='group-hover:border-b-2 group-hover:border-[#CFBFF7] duration-100'>
      LinkedIn
    </span>
  </a>
</div>
